<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxwgroup.oaserver.mapper.system.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jxwgroup.oaserver.entity.system.Department">
        <result column="id" property="id" />
        <result column="reg_usercode" property="regUsercode" />
        <result column="reg_username" property="regUsername" />
        <result column="reg_date" property="regDate" />
        <result column="edit_usercode" property="editUsercode" />
        <result column="edit_username" property="editUsername" />
        <result column="edit_date" property="editDate" />
        <result column="department_code" property="departmentCode" />
        <result column="department_name" property="departmentName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        reg_usercode,
        reg_username,
        reg_date,
        edit_usercode,
        edit_username,
        edit_date,
        department_code, department_name
    </sql>

</mapper>
